 // colors 
$darkBlue800:#222B45;
$darkBlue700:#2E3A59;
$darkBlue600:#8F9BB3;
$darkBlue400:#E4E9F2;
$darkBlue300:#EDF1F7;
$darkBlue200:#F7F9FC;
$yellow500:#FFD339;
$yellow400:#FFE16A;
$yellow300:#FFEA88;
$yellow200:#FFF2AF;
$blueLight:#C5CEE0;
$green:#080808;
$green500:#00D68F;
$vividblue:#3366FF;
$dodgerBlue:#0095FF;
$lightGray:#F8F7FA;
$white:#FFFFFF;
$danger:#FF3D71;

  

    
   