<footer class="footer-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="index.html" class="footer-menu__logo">
                    <img src="../assets/img/Logo.png" alt="link-partners">
                </a>
            </div>
            <div class="col-md-3">
                <h6 class="footer-menu__title">Company</h6>
                <ul class="footer-menu__list">
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Support</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6 class="footer-menu__title">Product</h6>
                <ul class="footer-menu__list">
                    <li><a href="#">Why Blogie?</a></li>
                    <li><a href="#">Affiliate programs</a></li>
                    <li><a href="#">Become seller</a></li>
                    <li><a href="#">Become buyer</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6 class="footer-menu__title">Legal</h6>
                <ul class="footer-menu__list">
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Privacy policy</a></li>
                    <li><a href="#">Refund policy</a></li>
                </ul>
            </div>
            <div class="col-md-12 text-center">
                <ul class="footer-menu__social--media">
                    <li><a href="#"><img src="../assets/img/facebook.svg" alt="face_img"></a></li>
                    <li><a href="#"><img src="../assets/img/Instagram.svg" alt="ins_img"></a></li>
                    <li><a href="#"><img src="../assets/img/telegram.svg" alt="tele_img"></a></li>
                    <li><a href="#"><img src="../assets/img/youtube.svg" alt="yout_img"></a></li>
                </ul>
                <div class="footer-menu__copyright">
                    <img src="../assets/img/copyright.svg" alt="copyright">
                    <span>Blogie 2021. All Rights Reserved</span>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="assets/js/plugins.min.js"></script>
<script src="assets/js/script.js"></script>
</body>

</html>