<!DOCTYPE html>
<html lang="az">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/img/fav.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="assets/css/plugins.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css">
    <title>LinkPartner</title>
</head>

<body>
    <header class="header-menu">
        <div class="container">
            <div class="row flex">
                <div class="col-md-4">
                    <a href="index.html" class="header-menu__logo">
                        <img src="../assets/img/Logo.png" alt="">
                    </a>
                </div>
                <div class="col-md-4">
                    <ul class="header-menu__nav">
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-4 flex">
                    <ul class="header-menu__list">
                        <li class="header-menu__list--menu"><a href="#"><img src="../assets/img/globe.svg" alt="lang">EN</a>
                            <ul class="dropDown drop-ml">
                                <li>AZ</li>
                                <li>EN</li>
                                <li>Ru</li>
                            </ul>
                        </li>
                        <li class="slash">|</li>
                        <li class="header-menu__list--menu"><a href="#">USD</a>
                            <ul class="dropDown">
                                <li>USD</li>
                                <li>EUR</li>
                                <li>AZN</li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="header-menu__sign">
                        <li><a href="#">Log in</a></li>
                        <li><a href="#">Sign up</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>



    <!-- mobile menu start -->

    <!-- mobile menu end -->